# Virtual environment
venv/

# Python bytecode / caches
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Dataset files (if you download raw data into repo)
*.npz
*.npy
data/

# OS files
.DS_Store
Thumbs.db
